<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
    <title>Success</title>
</head>
<body>
    <%- include('layouts/head'); -%>
    <h1>Success Data: </h1>
    <p>Search On: <%= data.search %>, and category: <%= data.category %>  </p>
    <%- include('layouts/foot'); -%>        
</body>
</html>